@import "reset.css";

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

body > div {
  position: absolute;
}

.container1 {
  top: 50px;
  left: 100px;
}

.container2 {
  top: 210px;
  left: 50px;
}

.container3 {
  top: 180px;
  left: 130px;
}

.container4 {
  top: 350px;
}

.container5 {
  top: 430px;
  right: 0;
}

.feeze-container {
  width: 300px;
  height: 300px;
}

.feeze-circle {
  width: 240px;
  height: 240px;
  border: solid 1px rgb(107, 202, 237);
  border-radius: 50%;
  box-shadow: inset 0 0 30px 5px rgb(75, 100, 200);
  position: relative;
}

.feeze-zone_outer {
  width: 136px;
  height: 136px;
  background: linear-gradient(135deg, white, rgb(155, 255, 255), white);
  border: 1px solid rgb(90, 180, 210);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgb(90, 210, 230);
  position: absolute;
}

.feeze-zone_inner {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  border: 1px solid rgb(90, 180, 210);
  box-shadow: inset 0 0 10px 5px rgb(90, 210, 230);
}

.circle-40fr {
  animation: circle-closeup 667ms linear forwards;
}

.circle-30fr {
  animation: circle-closeup 500ms ease-in forwards;
}

.fade-out {
  animation: fadeout 200ms linear forwards;
}

.feeze-button {
  font-size: 18px;
  font-weight: 800;
  color: rgb(210, 190, 150);
  width: 28px;
  height: 28px;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 30px 2px rgb(210, 190, 150);
}

@keyframes circle-closeup {
  from {
    width: 240px;
    height: 240px;
  }
  to {
    width: 128px;
    height: 128px;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
